body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #130bea;
    color: #ffffff;
}
.link {
    color: #fc1b1b;
}
.title1 {
    font-size: 48px;
    color: #fc1b1b;
}
.title {
    font-size: 24px;
    color: #fc1b1b;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ff0000; 
}
th, td {
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: left;
    background-color: #ff0000;
}

.accordion-item {
    background-color: #ff0000; 
}

.accordion-button {
    color: #fc1b1b; 
    background-color: #130bea; 
}
.card {
    background-color: #fc1b1b
}
.scrollspy-example {
    color: #fc1b1b;
}
